<div class="cap">
  <div class="container">
    <div class="help_us pull-right"> < Help us write other games /> </div>
  </div>
</div>
<div class="clearfix"></div>

<div class="game row">
	<div class="game_image col-md-6">
		<%= image_tag "bomberman_grounds.png" %>
	</div>
  <div class="game_info col-sm-6">
    <div class="cont">
      <div class="game_name">Bomberman</div>

      <div class="row">
        <button type="button" class="btn btn-standard button_first"><%= link_to "Documentation", page_path("bomberman") %></button>
        <button type="button" class="btn btn-standard button_second"><%= link_to "Visualizer", "/vis/bomberman" %> </button>
      </div>

      <div class="row ">
        <div class="category col-md-4">

          <div class="category_name topai">Top AI</div>
          <% rank = 1 %>
          <ul>
            <% @top.each do |scoring| %>
              <li><%= rank.to_s + ". " + scoring.user.email.split('@')[0] %></li>
            <% end %>
          </ul>
        </div>

        <div class="category col-md-7">
          <div class="category_name ">Statistics</div>
          <ul>
            <li>Bombs planted: <%= @stats.bombs.to_i %></li>
            <li>Players killed: <%= @stats.kills.to_i %></li>
            <li>Sessions: <%= @stats.sessions %></li>
            <li>No. AIs: <%= Ranking.count %></li>
          </ul>
        </div>
      </div>
    </div>
	</div>
</div>
<div class="clearfix"></div>
<div class="container browse">
	<div class="browse_text">
		More games will be developed soon. If you want to help us make more games,
please contact us at devgame@sybilai.com
	</div>
</div>


