%h1 Ranking

%table.table.table-stripped
  %thead
    %th User
    %th Sessions
    %th Kills
    %th Bombs
    %th Avg. kills
  - @rankings.each do |ranking|
    %tr
      %td= ranking.user.email.split('@').first
      %td= ranking.games_played
      %td= ranking.kills
      %td= ranking.bombs
      %td= ranking.ratio
