<div class="navbar global_header ">
  
    <div class="container">
      
      <nav>
        <a href="/"><%= image_tag "sybilai-logo-width.png", class: "navbar-brand header_logo"  %></a>
        <ul class="nav navbar-nav meniu">
      	  <% Page.all.each do |page| %>
      		  <li> <%= link_to page.name, page %></li>
      	  <% end %>
      	</ul>
        <ul class="nav navbar-nav navbar-right header_navbar">
         <% if user_signed_in? %>
            <span class="wel_mess">Logged in as <strong><%= current_user.email %></strong></span>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-primary"%>
          <% else %>
            
            <li><%= button_to 'sign in', new_user_session_path, :class=> "btn btn-default " %></li>
            <li><%= button_to 'register', new_user_registration_path, :class=> "btn btn-primary ", :method => :get %></li>

          <% end %>
        </ul>
      </nav>
    </div>
</div>
